footer{
  width:100%;
  margin:10%;
}

.down{
  display:inline;
  color:#ffffff;
  background-color: #000000;
  padding: 1%;
  align-items: center;
  justify-content: center;
 
}

.down ul{
  display:inline-block;
  width:100%;
  text-align: center;
}

li{
  display:inline;
  margin-right:8% ;
}

li.bg{
  margin-right: 5rem;
  padding:none;

}
